* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: large;
  }
  
  body {
    background-image: linear-gradient(70deg, #1d2032, #4a505a);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color: rgb(34, 44, 48);
    padding: 30px;
    height: 450px;
    width: 300px;
    border-radius: 10px;
    color: rgb(205, 241, 74);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
  .symbol {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .operators {
    height: 50px;
    width: 50px;
    margin-left: 6px;
    border: #1d2032 1px solid;
    border-radius: 30px;
    border: #4a505a 1px solid;
    background-color: #4a505a;
  }
  .operatorss {
    height: 50px;
    width: 50px;
    margin-left: 6px;
    margin-bottom: 10px;
    border-radius: 50%;
    text-align: center;
    color: rgb(26, 193, 59);
    background-color: rgb(28, 54, 58);
    border: #1d2032 1px solid;
  }
  .screen {
    height: 50px;
    width: 250px;
    color: rgb(0, 3, 16);
    background-color: rgb(102, 110, 74);
    padding-left: 5px;
    border: #4a505a 1px solid;
    border-radius: 10px;
  }
  .symbols {
    height: 50px;
    width: 50px;
    margin-left: 6px;
    margin-top: 20px;
    background-color: rgb(28, 33, 37);
    border-radius: 50%;
    border: #1d2032 1px solid;
    text-align: center;
    color: rgb(205, 241, 74);
  }
  
  .symbols:hover {
    background-color: rgb(28, 54, 58);
    color: rgb(239, 23, 92);
  
    transition: 0.5s;
  }
  .op:hover {
    background-color: rgb(31, 176, 108);
    color: rgb(229, 35, 58);
    transition: 0.5s;
  }
  
  .num:hover {
    background-color: rgb(31, 176, 108);
    color: rgb(229, 35, 58);
    transition: 0.5s;
  
  }
  .equal:hover {
    background-color: rgb(38, 227, 170);
    color: rgb(229, 35, 58);
    transition: 0.5s;
  }
  
  .clear:hover {
    background-color: rgb(235, 25, 28);
    color: rgb(247, 245, 245);
  }
  .ac {
    background-color: crimson;
    color: aliceblue;
  }
  .equal {
    background-color: rgb(26, 193, 59);
    color: rgb(0, 3, 16);
  }
  
  .clear {
    background-color: rgb(241, 153, 45);
    color: rgb(0, 3, 16);
  }
  .header {
    float: right;
    margin-bottom: 15px;
    color: #ace74c;
    font-weight: 600;
  }
  .dot {
    background-color: rgb(28, 33, 37);
    color: rgb(171, 174, 27);
  }
  
  
  